<mat-toolbar color="primary" class="container" *ngIf="isAdministracao">
  <div class="container d-block"
       fxFlex.gt-xs="{{ FX_FLEX_GT_XS }}"
       fxFlex.gt-sm="{{ FX_FLEX_GT_SM }}"
       fxFlex.gt-md="{{ FX_FLEX_GT_MD }}"
       fxFlex.gt-lg="{{ FX_FLEX_GT_LG }}"
       fxFlex.xl="{{ FX_FLEX_XL }}" >
    <div fxHide.gt-xs>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <mat-menu #menu="matMenu" [overlapTrigger]="false" >
      <button mat-menu-item [routerLink]="['/administracao']">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
<!--      <button mat-menu-item [routerLink]="['/administracao/grupo']"-->
<!--      >-->
<!--        <mat-icon>group</mat-icon>-->
<!--        <span>{{ 'LABEL_GRUPO' | i18n}}</span>-->
<!--      </button>-->
      <button mat-menu-item [routerLink]="['/administracao/usuario']"
      >
        <mat-icon>person</mat-icon>
        <span>Usuários</span>
      </button>

      <button mat-menu-item [routerLink]="['/administracao/sabor']">
        <mat-icon>restaurant</mat-icon><!--Tipo icone-->
        <span>{{ 'LABEL_SABOR' | i18n}}</span>
      </button>

      <button mat-menu-item [routerLink]="['/administracao/tamanho']">
        <mat-icon>straighten</mat-icon><!--Tipo icone-->
        <span>{{ 'LABEL_TAMANHO' | i18n}}</span>
      </button>

      <button mat-menu-item [routerLink]="['/administracao/pedido']">
        <mat-icon>room_service</mat-icon><!--Tipo icone-->
        <span>{{ 'LABEL_PEDIDO' | i18n}}</span>
      </button>

    </mat-menu>

    <div fxFlex fxLayout fxLayoutAlign="start" fxHide.xs>
      <a mat-button [routerLink]="['/administracao']">
        <!--<mat-icon>home</mat-icon>-->
        Home</a>
<!--      <a mat-button [routerLink]="['/administracao/grupo']"-->
<!--      >-->
<!--        &lt;!&ndash;<mat-icon>group</mat-icon>&ndash;&gt;-->
<!--        Grupos</a>-->
      <a mat-button [routerLink]="['/administracao/usuario']"
      >
        <!--<mat-icon>person</mat-icon>-->
        Usuários</a>

      <a mat-button [routerLink]="['/administracao/sabor']">
        <!--<mat-icon>assignment_ind</mat-icon>-->
        Sabor</a>

      <a mat-button [routerLink]="['/administracao/tamanho']">
        <!--<mat-icon>assignment_ind</mat-icon>-->
        Tamanho</a>

      <a mat-button [routerLink]="['/administracao/pedido']">
        <!--<mat-icon>assignment_ind</mat-icon>-->
        Pedido</a>
    </div>
  </div>
</mat-toolbar>

