<div fxLayout="column" fxLayoutGap="1.5%" fxLayoutGap.xs="2%">

  <div fxLayout="row">
    <div class="content__title" fxFlex fxFlexAlign="center">
      <span *ngIf="acaoSistema.isAcaoAlterar()">{{'LABEL_ALTERAR_PEDIDO' | i18n}}</span>
      <span *ngIf="acaoSistema.isAcaoIncluir()">{{'LABEL_INCLUIR_PEDIDO' | i18n}}</span>
      <span *ngIf="acaoSistema.isAcaoVisualizar()">{{'LABEL_VISUALIZAR_PEDIDO' | i18n}}</span>
    </div>
  </div>

  <mat-card fxLayout="column" fxLayoutGap="1%" fxLayoutGap.xs="2%">

    <form #formCustos="ngForm">
      <mat-card fxLayout="column" fxLayoutGap="1%" fxLayoutGap.xs="2%">
        <mat-card-title>
          <span>{{'LABEL_DADOS_PEDIDO' | i18n}}</span>
        </mat-card-title>
        <mat-card-content fxLayout="column" fxLayoutGap="0.7%" fxLayoutGap.xs="3%">

<!--          LINHA UM-->

          <div fxLayout="row" fxLayoutAlign.gt-xs="center end" fxLayout.lt-sm="column" fxLayoutGap="0.7%">


            <mat-form-field fxFlex>
              <mat-label>{{'LABEL_ITEM' | i18n}}</mat-label>
              <input matInput placeholder="{{'LABEL_ITEM' | i18n}}" title="{{'LABEL_ITEM' | i18n}}"
                     [(ngModel)]="custos.item" name="item" maxlength="20"
                     [disabled]="acaoSistema.isAcaoVisualizar()">
              <mat-error validationMessage [submitted]="submittedPedido"></mat-error>
            </mat-form-field>

            <mat-form-field fxFlex fxFlex.gt-xs="50" fxFlex.lt-sm="100">
              <mat-label>{{'LABEL_DATA_ENTREGA' | i18n}}</mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="custos.data" name="dataEntrega" required readonly
                     (focus)="picker.open()" (click)="picker.open()"
                     [disabled]="acaoSistema.isAcaoVisualizar()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

          </div>

<!--          LINHA DOIS-->

            <div fxLayout="row" fxLayoutAlign.gt-xs="center end" fxLayout.lt-sm="column" fxLayoutGap="0.7%">
              <mat-form-field fxFlex>
                <mat-label>{{'LABEL_NOME_ESTABELECIMENTO' | i18n}}</mat-label>
                <input matInput placeholder="{{'LABEL_NOME_ESTABELECIMENTO' | i18n}}" title="{{'LABEL_NOME_ESTABELECIMENTO' | i18n}}"
                       [(ngModel)]="custos.nomeEstabelecimento" name="nomeEstabelecimento" required maxlength="20"
                       [disabled]="acaoSistema.isAcaoVisualizar()"
                >
                <mat-error validationMessage [submitted]="submittedPedido"></mat-error>
              </mat-form-field>

              <mat-form-field fxFlex>
                <mat-label>{{'LABEL_INFORME_PRECO' | i18n}}</mat-label>
                <input matInput placeholder="{{'LABEL_INFORME_PRECO' | i18n}}" title="{{'LABEL_INFORME_PRECO' | i18n}}"
                       [(ngModel)]="custos.valor" name="valor" required maxlength="10"
                       [disabled]="acaoSistema.isAcaoVisualizar()">
                <mat-error validationMessage [submitted]="submittedPedido"></mat-error>
              </mat-form-field>

            </div>

        </mat-card-content>
      </mat-card>
    </form>

    <mat-card-footer fxLayout="column" fxLayoutGap="1%" fxLayoutGap.xs="2%">
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="end center">
        <div fxFlex.gt-sm="30" fxFlex.sm="50" fxFlex.lt-sm="100" fxFlexAlign="space-between"
             fxLayoutAlign="end center">
          <a title="{{'LABEL_VOLTAR' | i18n}}" (click)="cancelar()" fxFlex fxFlexOffset="1"
             class="mat-button mat-raised-button mat-primary mat-button-base"
             *ngIf="acaoSistema.isAcaoVisualizar()"
          >
            <span>{{'LABEL_VOLTAR' | i18n}}</span>
          </a>
          <a title="{{'LABEL_CANCELAR' | i18n}}" (click)="cancelar()" fxFlex fxFlexOffset="1"
             class="mat-button mat-raised-button mat-warn mat-button-base"
             *ngIf="!acaoSistema.isAcaoVisualizar()"
          >
            <span>{{'LABEL_CANCELAR' | i18n}}</span>
          </a>
          <button type="submit" title="{{'LABEL_SALVAR' | i18n}}" (click)="salvar(custos, formCustos, $event)"
                  fxFlex fxFlexOffset="1"
                  class="mat-button mat-raised-button mat-primary mat-button-base"
                  *ngIf="acaoSistema.isAcaoAlterar() || acaoSistema.isAcaoIncluir()"
          >
            <span>{{'LABEL_SALVAR' | i18n}}</span>
          </button>
        </div>
      </div>
    </mat-card-footer>

  </mat-card>
</div>
